<nav class ="navbar is-dark is-bold">
  <!-- Logo -->
  <div class = "navbar-brand">
   <a class = "navbar-item" routerLink="Home">
    {{this.title}}
   </a>
   </div>

      <!-- menu -->
  <div class="navbar-menu">
  <div class="navbar-start">
    <a class="navbar-item" routerLink="Home">Home</a>
    <a class="navbar-item" routerLink="Contact">Contact</a>
    <a class="navbar-item" routerLink="Rent">Rent</a>
    <a class="navbar-item" routerLink="Admin">Admin</a>
  </div>
  <div *ngIf="this.loggedIn() == null" class="navbar-end">
    <a class="navbar-item" routerLink="Login">Login</a>
    <a class="navbar-item" routerLink="Register">Register</a>
  </div>
  <div *ngIf="this.loggedIn() != null" class="navbar-end">
  <a class="navbar-item" routerLink="CarRegister">Add car!</a>
    <a class="navbar-item" [routerLink]="['/User', this.loggedInUser.id]">{{this.loggedInUser.firstName}} {{this.loggedInUser.lastName}}</a>
    <a class="navbar-item" (click)="this.Logout()">Logout</a>
  </div>
  </div>
</nav>