<nav class="navbar">
  <p routerLink="/Home">Johnny's car rental</p>
    <a routerLink="/Home" type="button" class="home" routerLinkActive="active">Home</a>
    <a routerLink="/Rent" type="button" class="rent" routerLinkActive="active">Rent a car!</a>
    <a routerLink="/About" type="button" class="about" routerLinkActive="active">About us</a>
    <a routerLink="/Login" type="button" class="login" routerLinkActive="active">Log in</a>
    <a routerLink="/Register" type="button" class="register" routerLinkActive="active">Register</a>
</nav>