<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <title>Login</title>
</head>
<body>
<div class="container">
    <div class="left">
        <input matInput
        style="display: none"
        [matDatepicker]="picker"
        [matDatepickerFilter]="unavailableDays.bind(this)"
        >
        Click here to see reserved days
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker [opened]="true"></mat-datepicker>
    </div>
    <div class="middle">
        <form [formGroup]="form">
            <input type="number" class="input" placeholder="Extra drivers - €20 per extra driver" formControlName="Bestuurders" [ngModel]="bestuurders" (ngModelChange)="this.onChange()">
            <label class="input">
                <input type="checkbox" value="20" formControlName="Kinderstoel" (change)="this.onChange()">
                Childseat - €20
            </label>
            <label class="input">
                <input type="checkbox" value="90" formControlName="Volgetankt" (change)="this.onChange()">
                Fueled up, and no need to bring it back fueled up - €90
            </label>
            <label class="input">
                <input type="checkbox" value="12.50" formControlName="Navigatie" (change)="this.onChange()">
                Navigation system - €12,50
            </label>
            <label class="input">
                    <select formControlName="Location">
                      <option *ngFor="let location of locations | unique" [ngValue]="location">{{location}}</option>
                    </select>
                Drop off-location
            </label>

            <label for="DateRange">
                <h2>Choose your date:</h2>
                <mat-date-range-input
                [rangePicker]="RangePicker"
                [dateFilter]="unavailableDaysBeforeOwnDate"
                formGroupName="dateRange">
                <input matStartDate placeholder="Start date" formControlName="startDate">
                <input matEndDate placeholder="End date" formControlName="endDate" [ngModel]="datum" (ngModelChange)="this.onChange()">
                </mat-date-range-input>

                <mat-datepicker-toggle matSuffix [for]="RangePicker"></mat-datepicker-toggle>
                <mat-date-range-picker
                touchUi
                #RangePicker
                ></mat-date-range-picker>

            </label>
            <button class="button"(click)="onSubmit()">Reserve</button>
        </form>
    </div>
    <div class="right">
        <h1>
            Total: €{{this.price}}
        </h1>
    </div>
</div>
</body>
</html>
