<div class="container">
    <div class="left">

    </div>
    <div class="middle">
        <div class="carImage">
            <img src="{{this.car.imageUrl}}" alt="">
        </div>
        <div class="Information">
            <p>{{this.car.brand}}</p>
            <p>{{this.car.model}}</p>
        </div>
        <div class="Price">
            <p>Vanaf: €{{this.car.price}} p/d</p>
        </div>
        
        <div class="confirmation-tab">
            <div>
                <button [routerLink]="['/Res', this.car.id]" *ngIf="this.LoggedIn() != null">Reserveer</button>
                <button [routerLink]="['/Login']" *ngIf="this.LoggedIn() == null">Login!</button>
                <button routerLink="/Rent">Cancel</button>
            </div>
        </div>
        <div class="location-tab-left">
            <div>
                <h1>Google location HERE!</h1>
            </div>
        </div>
        <div class="location-tab-right">
            <div>
                <h1>{{this.car.location}}</h1>
            </div>
        </div>
    </div>
    <div class="right">

    </div>
</div>

<!-- <h1>{{this.car.name}}</h1>
<h1>{{this.car.type}}</h1>
<h1>{{this.car.price}}</h1>
<h1>{{this.car.review}}</h1>
<h1>{{this.car.adress}}</h1>
<h1>{{this.car.imageUrl}}</h1> -->