<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADMIN PANEL</title>
    <link rel="stylesheet" href="admin.component.html" />
  </head>
  <body>
    <div class="grid">
      <div class="gridItem">
        <h1>Server Status</h1>
        <a
          routerLink="/Home"
          type="button"
          class="home"
          routerLinkActive="active"
          >test</a
        >
      </div>
      <div class="gridItem" onclick="location.href='temp.html'">
        <h1>Accounts</h1>
      </div>
      <div class="gridItem" onclick="location.href='temp.html'">
        <h1>Cars</h1>
      </div>
      <div class="gridItem" onclick="location.href='temp.html'">
        <h1>Locations</h1>
      </div>
      <div class="gridItem" onclick="location.href='temp.html'">
        <h1>Extra's</h1>
      </div>
      <div class="gridItem" onclick="location.href='pong.html'">
        <h1>PONG</h1>
      </div>
    </div>
  </body>
</html>
