<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADMIN PANEL</title>
    <link rel="stylesheet" href="admin.component.html" />
  </head>
  <body>
    <div class="grid">
      <div class="gridItem" onclick="location.href='temp.html'">
        <h1>Server Status*</h1>
      </div>
        <a class="gridItem" routerLink="/AdminUsers"><h1>Accounts</h1> </a>
        <a class="gridItem" routerLink="/AdminCars"><h1>Cars</h1> </a>
      <div class="gridItem" onclick="location.href='temp.html'">
        <h1>Locations*</h1>
      </div>
      <div class="gridItem" onclick="location.href='temp.html'">
        <h1>Extra's*</h1>
      </div>
      <div class="gridItem" onclick="location.href=':D.html'">
        <h1>:D</h1>
      </div>
    </div>
  </body>
</html>
