/* You can add global styles to this file, and also import other style files */
body,
html {
  font-style: Helvetica;
  overflow-x: hidden;
  background: lightblue;
  color: aliceblue;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 33%);
  grid-gap: 1em;
  /* grid-auto-rows: 10%; */
  grid-auto-columns: 20em;
}

.grid > .gridItem {
  background: lightcoral;
  padding: 1em;
}

.grid > .gridItem:nth-child(even) {
  background-color: blueviolet;
}

.gridItem {
  text-align: center;
}
h1 {
  font-size: xxx-large;
  font-family: Helvetica;
}
