<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1><button routerLink="/Admin">RETURN</button></h1>
  <h1><button (click)="getReservations()">GET RESERVATIONS</button></h1>
  <h1><button (click)="getReservationById()">GET RESERVATION</button> ID: <input name="id" id="id" type="text"> </h1>
  <h1><button (click)="getReservationByUserID()">GET USER RESERVATION</button> USER - ID: <input name="userId" id="userId" type="text"> </h1>
  <h1><button (click)="getReservationByCarID()">GET CAR RESERVATION</button> CAR - ID: <input name="carId" id="carId" type="text"> </h1>

  <div *ngIf="selection">
    <div class="reservation">
      <div *ngFor="let r of this.reservations">
        <h2>Id: <input type="number" name="reservationId" id="reservationId" value={{r.id}}></h2>
        <h2>User Id: <input type="number" name="reservationUserId" id="reservationUserId" value={{r.userId}}></h2>
        <h2>Car Id: <input type="number" name="reservationCarId" id="reservationCarId" value={{r.carId}}></h2>
        <h2>Drivers: <input type="number" name="reservationBestuurders" id="reservationBestuurders" value={{r.bestuurders}}></h2>
        <h2>Price: <input type="number" name="reservationPrice" id="reservationPrice" value={{r.price}}></h2>
        <h2>Child Seat: <input type="text" name="reservationKinderstoel" id="reservationKinderstoel" value={{r.kinderstoel}}></h2>
        <h2>Navigation: <input type="text" name="reservationNavigatie" id="reservationNavigatie" value={{r.navigatie}}></h2>
        <h2>Full Tank: <input type="text" name="reservationVolgetankt" id="reservationVolgetankt" value={{r.volgetankt}}></h2>
        <h2>Start Date: <input type="text" name="reservationStartDate" id="reservationStartDate" value={{r.startDate}}></h2>
        <h2>End Date: <input type="text" name="reservationEndDate" id="reservationEndDate" value={{r.endDate}}></h2>
        <h2>Dropoff: <input type="text" name="reservationDropoff" id="reservationDropoff" value={{r.dropoff}}></h2>


        <button (click)="saveReservation()">Save Changes</button>
        <button (click)="deleteReservation()">Delete Reservation</button>
        <button (click)="noReservation()">Close</button>
      </div>
    </div>
  </div>

  <div *ngIf="!selection">
    <div *ngFor="let reservation of this.reservations">
      <div *ngFor="let user of this.users">
        <div *ngFor="let car of cars">
          <div *ngIf="user.id.toString() == reservation.userId.toString() && car.id.toString() == reservation.carId.toString()">
            <div class="reservation">
              <h2>Reservation ID:{{reservation.id}}, User ID:{{reservation.userId}} {{user.firstName}} {{user.lastName}}, Car ID:{{reservation.carId}} {{car.brand}} {{car.model}}, Dropoff:{{reservation.dropoff}}</h2><br>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>
</html>
