.container{
    .registerForm{
        margin:0;
        display: grid;
        grid-template-columns: 25% 50% 25%;
        form{
            width: 100%;
            h1{
                text-align: center;
                grid-column-start: 1;
                grid-column-end: 3;
            }
            display: grid;
            grid-template-columns: 50% 50%;
            grid-column: 2;
            gap: 25px;
            @media screen and (max-width: 1550px){
                grid-template-columns: 100%;
            }
            div{
                @media screen and (max-width: 1550px){
                    grid-column: 1;
                    grid-column-end: 3;
                }
                .errorLabel{
                    
                    white-space: nowrap;
                    font-size: 25px;
                    color: red;
                }
                .registerButton:disabled{
                    background-color: rgb(73, 73, 73);
                    cursor: not-allowed;
                }
                .registerButton{
                    cursor: pointer;
                }
                input{
                    width: 100%;
                    background-color: grey;
                    border: 1px solid white;
                    height: 50px;
                    color:black;
                    font-size: 25px;
                }
            }
            input::placeholder {
                color: black;
              }
        }
    }
}