<script>
  const button = document.querySelector("button")
  const input = document.querySelector("#minPrice")  
  
  button.addEventListener("click", () => {
    const { value } = input
    console.log(value)
  })
</script>

<div class="container">
  <h1 style="background-color: grey">
    Search your occasion! {{ oldCars.length }} cars available
  </h1>
  <div class="locationFilter" style="grid-row-end: '{{ cars.length + 3 }}';">
    <div>
      <h2 style="background-color: grey; margin-top: 0">Locations</h2>
      <br />
      <div *ngFor="let location of locations | unique">
        <input
          (click)="filterCarsOnLocation(location)"
          type="checkbox"
          value="{{ location }}"
        />{{ location }}<br />
      </div>
    </div>
  </div>

  <div class="brandFilter" style="grid-row-end: '{{ cars.length + 3 }}';">
    <div>
      <h2 style="background-color: grey; margin-top: 0">Brands</h2>
      <br />
      <div *ngFor="let brand of brands | unique">
        <input
          (click)="filterCarsOnBrand(brand)"
          type="checkbox"
          value="{{ brand }}"
        />{{ brand }}<br />
      </div>
    </div>
  </div>

  <div class="gearboxFilter" style="grid-row-end: '{{ cars.length + 3 }}';">
    <div>
      <h2 style="background-color: grey; margin-top: 0">Gearbox Type</h2>
      <br />
      <div *ngFor="let gearbox of gearboxes | unique">
        <input
          (click)="filterCarsOnGearbox(gearbox)"
          type="checkbox"
          value="{{ gearbox }}"
        />{{ gearbox }}<br />
      </div>
    </div>
  </div>

  <div class="priceFilter" style="grid-row-end: '{{ cars.length + 3 }}';">
    <div>
      <h2 style="background-color: grey; margin-top: 0">Price Filter</h2>
      <br />
      <form>
        <input type="text" id="minPrice" name="minPrice">
        <label for="minPrice">From $</label>
        <br><br>
        <input type="text" id="maxPrice" name="maxPrice">
        <label for="maxPrice">To $:</label>
        <br><br>
        <button (click)="filterCarsOnPrice()">Search</button>
        <button (click)="clearPrice()">Clear</button>
      </form> 
    </div>
  </div>
    <div class="occasionBar" *ngFor="let car of cars">
        <div class="occasion">
            <div class="top">
                <img class="occasionImg" src="{{car.imageUrl}}" alt="Car">
                <div>
                    <h2 class="title">{{car.name}}</h2>
                    <p>{{car.type}}</p>
                </div>
                <div>
                    <h2>€{{car.price}}</h2>
                </div>
            </div>
            <div class="bottom">
                <p class="beoordeling">{{car.review}} Uitstekend</p>
                <p class="straatnaam">{{car.address}}</p>
                <button [routerLink]="['/Rent', car.id]">Bekijk nu</button>
            </div> 
    </div>
  </div>
</div>
